body {
  font-family: 'roboto-regular';
  padding-top: 54px;
  color: var(--gr-);
  background: white;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'roboto-regular';
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gr2-);
}

.fa-award{
  color: var(--dc-) !important;
  font-size: 1em !important;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

.w-100 .mb-5 i{
  font-size: 0.55em;
  vertical-align: middle;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'roboto-regular';
  font-size: 1.5rem;
}
.subheading > small{
  color: var(--dc-);
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--gr2-);
  color: #fff !important;
  /* border-radius: 100%; */
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: var(--dc-);
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: var(--dc-);
  /* cursor: pointer; */
}

i.fa-li.fa.fa-check{
  color: var(--dc-);
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: var(--dc-) !important;
}

.text-primary {
  color: var(--dc-) !important;
}

a {
  color: var(--dc-);
}

a:hover, a:focus, a:active {
  color: var(--gr-);
}

/* portfolio section */
.w-100 p > a{
  color: var(--dc-);
  font-family: OpenSans-Semibold;
}

.w-100 .filter-btn{
  display: flex;
}

.w-100 .filter-btn #buttons{
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 30px 0px 20px;
}

.w-100 .filter-btn #buttons li{
  display: inline-block;
  background-color: #28a745;
  padding: 5px 15px;
  color: var(--wh-);
  margin: 0px 1px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid var(--dc-);
}
.w-100 .filter-btn #buttons li.active{
  background-color: var(--wh-);
  color: var(--dc-);
}
.w-100 .filter-btn div{
  margin: 0 0 0 auto;
}
.w-100 .filter-btn .view-btn{
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 30px 0px 20px;
}

.w-100 .filter-btn .view-btn li{
  display: inline-block;
  background-color: #28a745;
  padding: 5px 15px;
  color: var(--wh-);
  margin: 0px 1px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid var(--dc-);
}
.w-100 .filter-btn .view-btn li.active{
  background-color: var(--wh-);
  color: var(--dc-);
}

.w-100 .items{
  float: left;
  width: 100%;
  display: grid;
}

.w-100 .items .box{
  float: left;
  padding: 0.25em 0.5em;
  margin-bottom: 0.8em;
  font-size: 1.1em;
  background: var(--sg-);
  /* width: inherit; */
}

.w-100 .items .box .inner{
  float: left;
  color: var(--dc-);
  display: inline-grid;
}
.w-100 .items .box .inner small{
  color: var(--gr2-);
}

/* portfolio section - END */


/* Scroll to top */
#topBtn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: var(--dc-);
  color: white;
  border: none;
  cursor: pointer;
  outline: 0;
  display: none;
  box-shadow: var(--shadow1-);
}
/* Scroll to top - END */

/* portfolio box animation */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* portfolio box animation - END*/

/* Tooltip */
.preview{
  position: relative;
}

.preview img{
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 1em;
  box-shadow: var(--shadow1-);
  cursor: pointer;
}

#tooltip{
  position: fixed;
  display: block;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  color: #000;
  font-size: 2.5em;
  font-weight: 700;
  padding: 5px 20px;
  box-shadow: var(--shadow1-);
}

.preview:hover #tooltip{
  opacity: 1;
  visibility: visible;
  border-radius: 0.2em;
  color: var(--gr-);
  background: var(--sg-);
  z-index: 1;
}
/* Tooltip - END */
