body {
  font-family: 'roboto-regular';
  padding-top: 54px;
  color: var(--gr-);
  background: white;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'roboto-regular';
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gr2-);
}

.fa-award{
  color: var(--dc-) !important;
  font-size: 1em !important;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}
section .w-100{
  min-height: 100vh;
}

.w-100 .mb-0 i,
.w-100 .mb-5 i{
  font-size: 0.55em;
  vertical-align: middle;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'roboto-regular';
  font-size: 1.5rem;
}
.subheading > small{
  color: var(--dc-);
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--gr2-);
  color: #fff !important;
  /* border-radius: 100%; */
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: var(--dc-);
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: var(--dc-);
  /* cursor: pointer; */
}

i.fa-li.fa.fa-check{
  color: var(--dc-);
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 80rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
@media(max-width: 768px){
  .nav-tabs .nav-link span,
  .nav-tabs .nav-link:hover span,
  .nav-tabs .nav-link.active span {
    display: none;
  }
}

.bg-primary {
  background-color: var(--dc-) !important;
}

.text-primary {
  color: var(--dc-) !important;
}

a {
  color: var(--dc-);
}

a:hover, a:focus, a:active {
  color: var(--gr-);
}

/* portfolio section */
.w-100 p > a{
  color: var(--dc-);
  font-family: OpenSans-Semibold;
}

.w-100 .filter-btn{
  display: flex;
}

.w-100 .filter-btn #buttons{
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 30px 0px 20px;
}

.w-100 .filter-btn #buttons li{
  display: inline-block;
  background-color: #28a745;
  padding: 5px 15px;
  color: var(--wh-);
  margin: 0px 1px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid var(--dc-);
}
.w-100 .filter-btn #buttons li:hover{
  background-color: var(--wh-);
  color: var(--dc-);
}
.w-100 .filter-btn #buttons li.active{
  background-color: var(--wh-);
  color: var(--dc-);
}
.w-100 .filter-btn div{
  margin: 0 0 0 auto;
}
.w-100 .filter-btn .view-btn{
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 30px 0px 20px;
}

.w-100 .filter-btn .view-btn li{
  display: inline-block;
  background-color: #28a745;
  padding: 5px 15px;
  color: var(--wh-);
  margin: 0px 1px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid var(--dc-);
}
.w-100 .filter-btn .view-btn li.active{
  background-color: var(--wh-);
  color: var(--dc-);
}

.w-100 .items{
  float: left;
  width: 100%;
  display: grid;
}

.w-100 .items .box{
  float: left;
  padding: 0.25em 0.5em;
  margin-bottom: 0.8em;
  font-size: 1.1em;
  background: var(--sg-);
  padding: 0;
  /* width: inherit; */
}
.w-100 .items .box .inner{
  float: left;
  color: var(--dc-);
  display: inline-grid;
  padding: 0.5em 1em;
}
.w-100 .items .box .inner small{
  color: var(--gr2-);
}
.w-100 .items .box .outer span{
  float: right;
  color: var(--dc-);
  /* border-top: 2px solid white; */
  /* border-bottom: 2px solid white; */
  border-left: 5px solid white;
  margin: 0;
  padding: 20px 15px;
}
.w-100 .items .box .outer span:hover{
  color: var(--wh-);
  background: var(--dc-);
  cursor: pointer;
}
.w-100 .items .box .outer span:first-child{
  /* border-right: 2px solid white; */
}

/* portfolio section - END */


/* Scroll to top */
#topBtn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: var(--dc-);
  color: white;
  border: none;
  cursor: pointer;
  outline: 0;
  display: none;
  box-shadow: var(--shadow1-);
}
/* Scroll to top - END */

/* portfolio box animation */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* portfolio box animation - END*/

/* Tooltip */
.preview{
  position: relative;
}

.preview img{
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: var(--shadow1-);
  cursor: pointer;
  border: 1px solid var(--dc-);
}

#tooltip{
  position: fixed;
  display: block;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  color: #000;
  font-size: 2.5em;
  font-weight: 700;
}

.preview:hover #tooltip{
  opacity: 1;
  visibility: visible;
  border-radius: 0.2em;
  color: var(--gr-);
  background: var(--sg-);
  z-index: 1;
}
/* Tooltip - END */

/* List View */
.card{
  position:relative;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
  min-width:0;
  word-wrap:break-word;
  background-color: var(--sg-);
  background-clip:border-box;
  /* border: 1px solid var(--dw-); */
  border: 1px solid var(--lg-);
  /* box-shadow: var(--shadow0-); */
}
.card-body{
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  min-height:1px;
  padding:1em;
}
.card-title{
  color: var(--dc-);
  margin-bottom:.75rem;
  text-transform: initial;
  width: 100%;

  /* single-line truncate */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text{
  color: var(--gr2-);
  margin-bottom:0.5em;
  font-size: 0.9em;
  text-align: justify;
  width: 100%;

  /* multi-line truncate */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
hr{
  margin: 0.5em auto 0.5em;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
.card-link{
  text-align: right;
}
.card-link a{
  margin: 0 0 0 0.5em;
}
.card-link a:hover{
  color: var(--gr2-);
}
.card-img,.card-img-top{
  -ms-flex-negative:0;
  flex-shrink:0;
  flex-shrink: 0;
  object-fit: cover;
  width: auto;
  height: 10em;
}
.card-img,.card-img-top{
  /* border-top-left-radius: 2px; */
  /* border-top-right-radius: 2px */
}
.card-img{
  /* border-bottom-right-radius: 2px; */
  /* border-bottom-left-radius: 2px; */
}
.col-lg-3.col-md-4.col-sm-4{
  padding-left: 0;
  margin-bottom: 1em;
}
/* List View - END */


/* Insterests container */
.fade:not(.show){
  opacity:0
}
.nav{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.nav-link{
  display:block;
  padding:.5rem 1rem
}
.nav-link:focus,.nav-link:hover{
  text-decoration:none
}
.nav-tabs{
  border-bottom: 1px solid var(--lg-);
}
.nav-tabs a{
  color: var(--gr-);
}
.nav-tabs .nav-item{
  margin-bottom:-1px
}
.nav-tabs .nav-link{
  border-top: 1px solid var(--sg-);
  border-left: 1px solid var(--sg-);
  border-right: 1px solid var(--sg-);
  border-bottom: 1px solid var(--lg-);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{
  border-color: var(--dw-);
  border-bottom: 1px solid var(--lg-);
}

.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{
  background: var(--wh-);
  border-color: var(--lg-);
  border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active span{
  color: var(--gr-);
}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active:nth-child(1),.nav-tabs .nav-link:hover:nth-child(1) i{color: #21749a;} /* Worpress */
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active:nth-child(2),.nav-tabs .nav-link:hover:nth-child(2) i{color: #fe431c;} /* YouTube */
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active:nth-child(3),.nav-tabs .nav-link:hover:nth-child(3) i{color: #2173fc;} /* Behance */
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active:nth-child(4),.nav-tabs .nav-link:hover:nth-child(4) i{color: #ea5488;} /* Dribble */
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active:nth-child(5),.nav-tabs .nav-link:hover:nth-child(5) i{color: #45b748;} /* DeviantArt */

.tab-content{
  border: none;
}
.tab-content>.tab-pane{
  display:none
}
.tab-content>.active{
  display:block
}
/* Insterests container - END */

.card_int{
  position: relative;
  width: calc(100% - 0em);
  min-height: 230px;
  background: var(--wh-);
  margin: 2em 0;
  box-sizing: border-box;
  box-shadow: var(--shadow1-);
  border-radius: 2px;
}

.card_int .imgBx{
  position: absolute;
  width: 30%;
  height: 100%;
}

.card_int .imgBx iframe,
.card_int .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.card_int .details{
  position: absolute;
  right: 0;
  width: 70%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card_int .details .content{
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.card_int .details .content h2{
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: var(--dc-);
  font-weight: 300;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.card_int .details .content span{
  font-size: 1rem;
  color: var(--lg-);

  /* Limit characters displayed in span */
  display: block;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
}

.card_int .details .content ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.card_int .details .content ul li{
  list-style: none;
}

.card_int .details .content ul li p{
  color: var(--gr2-);
  margin-top: 0.5em;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card_int .details .content a{
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid var(--dc-);
  color: var(--dc-);
  font-weight: 300;
  margin-top: 1.5em;
}

.card_int .details .content a:hover{
  background: var(--dc-);
  color: var(--wh-);
}

@media (max-width: 991px) {
  .card_int{
    width: calc(70% - 20px);
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .card_int{
    width: calc(70% - 20px);
    margin: 10px auto;
  }
  .card_int .imgBx{
    position: relative;
    width: 100%;
    height: 200px;
  }
  .card_int .details{
    position: relative;
    width: 100%;
    height: 200px;
  }
  .card_int .details .content a{
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .card_int{
    width: calc(100% - 40px);
    margin: 10px auto;
  }
}

















/* END */
